### VisualStudioCode template
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json


### JetBrains template
# User-specific stuff:
.idea/*


### macOS template
# General
*.DS_Store

# Thumbnails
._*


### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints


### Dataset and checkpoints
datasets/*
chkpt_dir/*
